{% extends 'base.html.twig' %}

{% block title %}{{ 'register.confirmationMail'|trans({},'messages') }}{% endblock %}

{% block body %}
    <div class="container-fluid pt-5 pb-5 blocFormRegister">
        <h5 class="text-center pb-4">{{ 'register.confirmationMail'|trans({},'messages') }}</h5>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
