{% extends 'base.html.twig' %}

{% block title %}{{ 'register.register'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid pt-5 pb-5 blocFormRegister">
        <h5 class="text-center pb-4">{{ 'register.forgottenPassword'|trans }}</h5>
        <div class="form-group formRegister">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
