{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}

{% block body %}
    <div class="blocImageHome">
        <img src="{{ asset('images/home.jpg') }}" alt="home">
        <div class="overlay"></div>
        <i class="fas fa-arrow-circle-down arrowHome"></i>
    </div>
{% endblock %}
