{% extends 'base.html.twig' %}

{% block title %}{{ 'editFigure.title'|trans }}{% endblock %}

{% block body %}

    <div class="container pt-5 pb-5">
        {{ form(form) }}
    </div>

{% endblock %}