{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans }}{% endblock %}

{% block body %}
    <div class="container bg-white mt-4 border border-secondary" style="height: 200px"></div>
{% endblock %}
