@keyframes arrow {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1);
    }
}

body {
    font-family: sans-serif;
}

/* NAV */

.nav {
    background-color: white;
    width: 100%;
}

.title {
    text-decoration: none;
    color: rgb(120, 120, 120);
    font-size: 19px;
    margin-right: 20px;
}

.title:hover {
    text-decoration: none;
}

.btnsNav {
    margin-right: 20px;
}

.subtitle {
    text-decoration: none;
    color: rgb(100, 100, 100);
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
    display: inline-block;
    transition: color 100ms linear, border 100ms linear;
    border-right: 1px solid rgba(100,100,100,0.5);
    padding: 7px 20px 7px 20px;
    margin-left: 10px;
}

.subtitle:hover {
    text-decoration: none;
    color: blue;
}

.subtitleRdv {
    text-decoration: none;
    color: white !important;
    background-color: rgba(0, 199, 12, 1);
    font-size: 14px;
    font-family: sans-serif;
    display: inline-block;
    transition: color 200ms linear, box-shadow 200ms linear, background-color 200ms linear;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
}

.subtitleRdv:hover {
    background-color: rgba(0, 179, 12, 1);
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.responsiveNav ul li a,
.responsiveNav ul li label {
    padding-left: 10px;
    padding-right: 10px;
    transition: color 200ms linear;
    border-radius: 4px;
    font-family: sans-serif;
    color: rgb(100, 100, 100);
}

.responsiveNav ul li a:hover,
.responsiveNav ul li label:hover {
    color: blue;
}

.responsiveNav {
    display: none;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.5);
    color: rgb(100, 100, 100);
}

@media screen and (max-width: 1150px) {
    .padMain {
        padding-top: 100px;
    }

    .nav {
        display: none !important;
    }

    .titleNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .accroche {
        font-size: 20px;
    }

    .responsiveNav {
        display: block;
        z-index: 1000 !important;
    }
}

/* HOMEPAGE */

.blocImageHome {
    width: 100%;
    height: 90vh;
    position: relative;
}

.blocImageHome img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.4);
    z-index: 100;
}

.arrowHome {
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 200;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(50,50,50,0.3);
    animation: arrow linear 2s infinite;
    cursor: pointer;
}

.arrowHome:hover {
    animation: none;
}

.blocAccroche {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 200;
}

.accroche {
    margin-top: 100px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 0px 5px rgba(50,50,50,0.5);
}

.card {
    width: 400px; /*1*/
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 5px rgba(100,100,100,0.2); /*4*/
}

.card a { /*5*/
    color: #333;
    text-decoration: none;
}

.card-image{
    position: relative;
}

.card-title {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-between!important;
    align-items: center!important;
    margin-bottom: 0px!important;
}

.overlayCard {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,0.2);
    z-index: 100;
    transition: background-color 200ms linear;
}

.card-image:hover > .overlayCard{
    background-color: rgba(100,100,100,0);
}

.card-image img { /*6*/
    height: 150px;
    object-fit: cover;
    width: 100%;
    filter: grayscale(0);
}

.card-title h3 {
    margin-bottom: 0px!important;
    padding: 0px!important;
}

#figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {

    .accroche {
        font-size: 25px;
    }

    .card-title h3 {
        font-size: 22px!important;
    }

}