<p style='font-weight: bold'>Bonjour {{ user.username }},</p>
<p>Merci d'avoir rejoint ma communauté, pour valider votre compte cliquez sur le <span style='color: blue;font-weight: bold;'>lien</span> ci-dessous :</p>
<a style='font-weight: bold' href='http://127.0.0.1:8000/user/confirm/{{ user.token }}'>Cliquez ici</a>