<p style='font-weight: bold'>Bonjour {{ user.username }},</p>
<p>Pour réinitialiser votre mot de passe, cliquez sur le <span style='color: blue;font-weight: bold;'>lien</span> ci-dessous :</p>
<a style='font-weight: bold' href='http://127.0.0.1:8000/reset/{{ user.slug }}'>Cliquez ici</a>